{% extends "base.html" %}

{% block content %}
<h2>My projects</h2>
<a href="/projects/{{current_user.nickname}}/created" class="btn btn-secondary">Created</a>
<a href="/projects/{{current_user.nickname}}/collaborative" class="btn btn-secondary">Collaborative</a>
<a href="/projects/{{current_user.nickname}}/archived" class="btn btn-secondary">Archived</a>
{% for project in projects%}
    <div class="card">
        <p class="team_leader">by {{project['team_leader_name']}}</p>
        <h3 class="title"><a href="/project/{{project['id']}}">{{project['title']}}</a></h3>
        <p class="tags">{{', '.join(project['tags_str'])}}</p>
        <p class="description">{{project['description']}}</p>
    </div>
{% endfor %}
{% endblock %}