/* Navigation bar */

a.navbar-brand {
    font-size: 36px;
}

.dropdown {
    padding: 6px;
    margin-right: 20px;
}

/* Headings */

h2 {
    text-align: center;
}

/* Contents */

.container {
    padding: 50px;
}

/* Project card */

.card {
    border-radius: 10px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .card-body .card-title {
    display: inline;
}

.card .card-body .team-leader {
    display: inline;
}

.card .card-body .card-text {
    margin-top: 7px;
}

/* Search bar */

form.search-form {
    margin-top: 30px;
}

.input-group {
    margin-top: 7px;
}

.search-bar {
    display: inline-block;
    width: 70%;
    margin-right: 20px;
}

.search-button {
    width: 12%;
    height: 38px;
}

/* Dropdown checklist */

.dropdown-check-list {
    display: inline-block;
    margin-right: 20px;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
}

.dropdown-check-list.visible .items {
    display: block;
}

/* Project page */

.project-buttons {
    margin-top: 30px;
}

.project-data {
    margin-top: 30px;
    overflow: auto;
}

.project-data .data-left {
    width: 60%;
    float: left;
}

.project-data .data-left img {
    padding: 20px;
    width: 100%;
    object-fit: contain;
}

.project-data .data-right {
    margin-left: 65%;
}

.project-data .data-right .badge {
    margin-bottom: 10px;
}

.project-data .data-right img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
}


/* Footer */

footer {
    display: block;
}

.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}

.mt-5 {
    margin-top: 3rem!important;
}

div.logo {
    background: url(/static/img/logo.jpg) no-repeat;
    padding-bottom: 90px;
    padding-right: 324px;
    margin-left: 100px;
}
