{% extends "base.html" %}

{% block content %}
<h2>Available projects</h2>
<form action="{{ url_for('index') }}" method="POST" class="search-form">
    {{ form.hidden_tag() }}
    <div id="list1" class="dropdown-check-list" tabindex="100">
        <span class="anchor">Select Tags</span>
        {{ form.tags(class="items") }}
    </div>
    <div class="search-bar">
        {{ form.search(class="form-control", placeholder="Search...") }}
    </div>
    <div class="show-all">
        {{ form.show_all() }} {{ form.show_all.label }}
    </div>
    {{ form.submit(type="submit", class="btn btn-primary") }}
</form>
{% for project in projects%}
    <div class="card">
        <p class="team_leader">by {{project['team_leader_name']}}</p>
        <h3 class="title"><a href="/project/{{project['id']}}">{{project['title']}}</a></h3>
        <p class="tags">{{', '.join(project['tags_str'])}}</p>
        <p class="description">{{project['description']}}</p>
    </div>
{% endfor %}
<script>
        var checkList = document.getElementById('list1');
        checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
            if (checkList.classList.contains('visible'))
                checkList.classList.remove('visible');
            else
                checkList.classList.add('visible');
        }
    </script>
{% endblock %}