{% extends "base.html" %}

{% block content %}
<h2>{{project['title']}}</h2>
{% if current_user.is_authenticated %}
<div class="project-buttons">
    {% if current_user.id == project['team_leader'] %}
        <a href="/edit_project/{{project['id']}}" class="btn btn-secondary">Edit</a>
        {% if project['archived'] %}
            <a href="/archive_project/{{project['id']}}" class="btn btn-secondary">Un-archive</a>
        {% else %}
            <a href="/archive_project/{{project['id']}}" class="btn btn-secondary">Archive</a>
        {% endif %}
        <a href="/delete_project/{{project['id']}}" class="btn btn-danger">Delete</a>
    {% elif current_user.id in project['collaborators'] %}
        <a href="/leave_project/{{project['id']}}" class="btn btn-secondary">Leave project</a>
    {% else %}
        <a href="/collaborate/{{project['id']}}" class="btn btn-secondary">Collaborate</a>
    {% endif %}
{% endif %}
</div>
<div class="project-data">
    <div class="data-left">
        <div>{{project['description']}}</div>
        {% if project['image'] %}
            <img src=".{{ project['image'] }}" alt="{{ project['title'] }} image">
        {% endif %}
    </div>
    <div class="data-right">
        {% for tag in project['tags_str']%}
                <span class="badge badge-pill badge-secondary">{{tag}}</span>
        {% endfor %}
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">{{ project['team_leader_name'] }}</li>
            {% for name in project['collaborators_names']%}
            <li class="list-group-item">{{ name }}</li>
            {% endfor %}
        </ul>
        {% if loc_image %}
        <img src=".{{loc_image}}" alt="location image">
        <p>{{ project['location'] }}</p>
        <p>See location in <a href="https://yandex.ru/maps/?mode=search&text={{project['location']}}">Yandex maps</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}