{% extends "base.html" %}

{% block content %}
<h2>My projects</h2>
<a href="/projects/{{current_user.nickname}}/created" class="btn btn-secondary">Created</a>
<a href="/projects/{{current_user.nickname}}/collaborative" class="btn btn-secondary">Collaborative</a>
<a href="/projects/{{current_user.nickname}}/archived" class="btn btn-secondary">Archived</a>
{% for project in projects%}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a href="/project/{{project['id']}}" class="text-dark">{{project['title']}}</a>
            </h5>
            <p class="text-secondary float-right team-leader">by {{project['team_leader_name']}}</p>
            <div class="card-tags">
                {% for tag in project['tags_str']%}
                    <span class="badge badge-pill badge-secondary">{{tag}}</span>
                {% endfor %}
            </div>
            {% if project['description']|length > 137 %}
                <p class="card-text">{{project['description'][:134]}}...</p>
            {% else %}
                <p class="card-text">{{project['description']}}</p>
            {% endif %}
            <a href="/project/{{project['id']}}" class="card-link">Read more</a>
        </div>
    </div>
{% endfor %}
{% endblock %}